<h1><%= @user.first_name %>'s profile page </h1>
<p> Email: <%= @user.email if @user.email %></p>
<p> Region: <%= @user.region if @user.region %></p>
<%= link_to "Edit Profile", edit_user_registration_path(@user) %></br>
<%= link_to "Back to Home", root_path %>
